# Module 2 Exercises - Explore Data

In [14]:
#import libraries
import pandas as pd
import numpy as np

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [4]:
location = "datasets/datasets_travel-times.csv"
travel_df = pd.read_csv(location)
travel_df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [5]:
location = "datasets/datasets_income_expenses.xlsx"
expense_df = pd.read_excel(location)
expense_df.head()

  Income Range                    Category  Amount Class_level
0     $100-200                        Rent   26.43        Poor
1     $100-200                        Food   59.81        Poor
2     $100-200                     Clothes   38.95        Poor
3     $100-200                       Taxes    0.14        Poor
4     $100-200  Other Expenses and Savings   13.77        Poor

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [15]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]

In [16]:
gradeList = list(zip(names,grades))
df = pd.DataFrame(data = gradeList, columns=['Names', 'Grades'])
writer = pd.ExcelWriter('datasets/grades_dataset.xlsx', engine='xlsxwriter')
df.to_excel(writer)
writer.save()
df.head()

         Names  Grades
0         Nike     176
1       Adidas      59
2  New Balance      47
3         Puma      38
4       Reebok      99

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [8]:
travel_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [9]:
expense_df.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [10]:
expense_df[['Amount']].groupby(expense_df['Income Range']).sum()

               Amount
Income Range
$100-200       139.10
$1000+        1125.00
$200-300       249.45
$300-400       335.68
$400-500       433.82
$500-750       557.00
$750-1000      880.00

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [11]:
#travel_df.head()
pd.pivot_table(travel_df, values=['TotalTime'], index=['DayOfWeek', 'GoingTo'])

                   TotalTime
DayOfWeek GoingTo
Friday    GSK      37.628571
          Home     38.238462
Monday    GSK      44.747368
          Home     41.725000
Thursday  GSK      40.204167
          Home     42.345000
Tuesday   GSK      42.079167
          Home     42.962500
Wednesday GSK      42.087500
          Home     44.300000

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.

In [17]:
# Find total missing values
travel_df.isnull().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy        17
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

In [18]:
# Show rows with missing values for Fuel Economy
missing_fuel_economy = travel_df['FuelEconomy'].isnull()
travel_df.loc[missing_fuel_economy]

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
5,1/3/2012,07:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No,NaN
34,12/1/2011,16:15,Thursday,Home,51.55,129.6,74.2,83.7,NaN,41.7,36.9,No,NaN
35,12/1/2011,07:24,Thursday,GSK,51.38,124.6,80.1,84.4,NaN,38.5,36.5,No,NaN
36,11/30/2011,16:11,Wednesday,Home,51.09,128.7,71.5,76.7,NaN,42.9,39.9,No,NaN
37,11/30/2011,07:19,Wednesday,GSK,51.71,125.6,76.3,81.8,NaN,40.7,37.9,No,NaN
38,11/29/2011,16:52,Tuesday,Home,51.00,121.4,68.4,75.4,NaN,44.7,40.6,No,NaN
39,11/29/2011,07:23,Tuesday,GSK,51.74,112.2,55.3,61.0,NaN,56.2,50.9,No,Heavy rain
40,11/28/2011,16:16,Monday,Home,51.05,128.2,72.4,78.8,NaN,42.3,38.9,No,NaN
41,11/28/2011,07:26,Monday,GSK,51.63,127.1,71.0,75.5,NaN,43.6,41.1,No,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [19]:
# Show rows with missing values for Comments
missing_comments = travel_df['Comments'].isnull()
travel_df.loc[missing_comments]

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
5,1/3/2012,07:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No,NaN
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No,NaN
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No,NaN
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,NaN
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,NaN
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,NaN
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No,NaN
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No,NaN
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No,NaN
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No,NaN
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No,NaN
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No,NaN
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No,NaN
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No,NaN
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No,NaN
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No,NaN
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No,NaN
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No,NaN
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No,NaN
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No,NaN
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No,NaN
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No,NaN
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No,NaN
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No,NaN
30,12/7/2011,07:18,Wednesday,GSK,51.64,124.6,73.6,82.0,9.76,42.1,37.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,8/10/2011,17:14,Wednesday,Home,51.03,127.4,73.5,79.3,8.54,41.7,38.6,No,NaN
170,8/10/2011,08:13,Wednesday,GSK,48.98,124.8,72.8,78.8,8.54,40.4,37.3,No,NaN
171,8/9/2011,17:13,Tuesday,Home,51.15,127.1,72.1,82.3,8.54,42.5,37.3,No,NaN
173,8/8/2011,17:05,Monday,Home,52.35,127.5,76.9,84.2,8.54,40.9,37.3,No,NaN
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No,NaN
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No,NaN
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No,NaN
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No,NaN
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No,NaN
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No,NaN
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No,NaN
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes,NaN
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No,NaN
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No,NaN
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No,NaN
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No,NaN
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No,NaN
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No,NaN
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No,NaN
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes,NaN
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes,NaN
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No,NaN
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes,NaN
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes,NaN
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes,NaN
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [20]:
# Find row with highest distance.
travel_df.loc[travel_df['Distance'].idxmax()]

Date              11/23/2011
StartTime              16:17
DayOfWeek          Wednesday
GoingTo                 Home
Distance               60.32
MaxSpeed               129.4
AvgSpeed                68.9
AvgMovingSpeed          74.6
FuelEconomy              9.3
TotalTime               52.5
MovingTime              48.5
Take407All                No
Comments                 NaN
Name: 44, dtype: object

In [21]:
# Find average speed when going to a specific place.
travel_df.groupby('GoingTo')['AvgSpeed'].mean()

GoingTo
GSK     74.73619
Home    74.20600
Name: AvgSpeed, dtype: float64

In [25]:
# More than 25 for distance, not nan's, and no '-' characters.
travel_df.loc[(travel_df['Distance'] >= 25) & (travel_df['FuelEconomy'].notnull()) & (travel_df['FuelEconomy'] != '-')]

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,NaN
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,NaN
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,NaN
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No,NaN
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No,NaN
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No,NaN
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No,NaN
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,Put snow tires on
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No,NaN
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No,NaN
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No,NaN
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No,NaN
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No,NaN
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No,NaN
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No,NaN
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No,NaN
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No,NaN
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No,NaN
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No,NaN
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No,NaN
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No,NaN
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No,NaN
30,12/7/2011,07:18,Wednesday,GSK,51.64,124.6,73.6,82.0,9.76,42.1,37.8,No,NaN
31,12/6/2011,17:24,Tuesday,Home,51.25,123.5,77.3,81.9,9.16,39.8,37.6,No,NaN
32,12/6/2011,07:24,Tuesday,GSK,51.64,122.3,69.3,74.7,9.16,44.7,41.5,No,NaN
33,12/5/2011,16:18,Monday,Home,50.18,124.0,71.0,79.5,9.16,42.4,37.9,No,NaN
42,11/24/2011,16:15,Thursday,Home,51.49,126.6,74.0,82.8,9.3,41.8,37.3,No,NaN
43,11/24/2011,07:23,Thursday,GSK,51.69,124.9,73.3,80.3,9.3,42.3,38.6,No,NaN
44,11/23/2011,16:17,Wednesday,Home,60.32,129.4,68.9,74.6,9.3,52.5,48.5,No,NaN
45,11/23/2011,07:22,Wednesday,GSK,51.60,126.4,67.3,73.6,9.3,46.0,42.1,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,8/9/2011,08:15,Tuesday,GSK,49.08,134.8,60.5,67.2,8.54,48.7,43.8,No,Medium amount of rain
173,8/8/2011,17:05,Monday,Home,52.35,127.5,76.9,84.2,8.54,40.9,37.3,No,NaN
174,8/8/2011,08:07,Monday,GSK,49.25,126.3,68.5,78.2,8.54,43.1,37.8,No,New tires
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No,NaN
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No,NaN
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No,NaN
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No,NaN
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No,NaN
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No,NaN
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No,NaN
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,Turn around on Derry
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes,NaN
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,Empty roads
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No,NaN
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No,NaN
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,Police slowdown on 403
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No,NaN
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,Accident blocked 407 exit
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No,NaN
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No,NaN
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No,NaN
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No,NaN
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes,NaN
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes,NaN
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No,NaN
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes,NaN
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes,NaN
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes,NaN
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN

In [26]:
colA = [10, 20, 40, 50]
colB = ['no', 'yes', 'yes', 'no']
index = ['a', 'b', 'c', 'd']
A_B = list(zip(colA, colB))
df_B = pd.DataFrame(data=A_B, columns=['A', 'B'], index=index)
df_B

    A    B
a  10   no
b  20  yes
c  40  yes
d  50   no

In [27]:
df_B.loc['c']

A     40
B    yes
Name: c, dtype: object

In [28]:
names = ['Bob', 'Jen', 'Rob', 'Sue']
age = [15, 14, 17, 16]
index = [0, 1, 2, 3]
names_age = list(zip(names, age))
df_names_age = pd.DataFrame(data=names_age, columns=['Names', 'Age'], index=index)
df_names_age

  Names  Age
0   Bob   15
1   Jen   14
2   Rob   17
3   Sue   16

In [29]:
df_names_age['Grades'] = 100

In [67]:
df_names_age

  Names  Age  Grades
0   Bob   15     100
1   Jen   14     100
2   Rob   17     100
3   Sue   16     100

In [68]:
df_names_age.dtypes

Names     object
Age        int64
Grades     int64
dtype: object

In [30]:
names=['Jessica', 'John', 'Bob', 'Jessica', 'Mary', 'John', 'Mel', 'Mel']
grades=[95,78,76,95,77,78,99,100]
index=[0,1,2,3,4,5,6,7]
df = pd.DataFrame(data=list(zip(names,grades)), columns=['Names', 'Grades'], index=index)
df

     Names  Grades
0  Jessica      95
1     John      78
2      Bob      76
3  Jessica      95
4     Mary      77
5     John      78
6      Mel      99
7      Mel     100

In [31]:
df.loc[df['Names'] == 'Mel']

  Names  Grades
6   Mel      99
7   Mel     100