# Module 6 - Correlation & Models

In [1]:
import pandas as pd
import numpy as np

## Correlation

Correlation is the relationship between one feature (column) to another. Features can be positively correlated, meaning that they both move in the same direction (if one increases, so does the other and if one decreases, so does the other) or negatively correlated, meaning that they move in opposite directions (if one increases, the other decreases). Correlation values are on a scale from -1 to 1. Features that are positively correlated are closer to 1 and features that are negatively correlated are closer to -1. All features are perfectly positively correlated (exact value of 1) with itself.

In [2]:
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)

df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [3]:
#creates a table of correlation values
df.corr()

               age  exercise     hours     grade
age       1.000000 -0.003643 -0.017467 -0.007580
exercise -0.003643  1.000000  0.021105  0.161286
hours    -0.017467  0.021105  1.000000  0.801955
grade    -0.007580  0.161286  0.801955  1.000000

## Linear Regression

Linear regression is used to predict the numerical value(s) for a target variable (the column that is being predicted). With one column as a predictor, a linear regression model is mathematically represented by the formula:
### \begin{align}  y = mx + b \end{align}
Where *y* is the target variable, *x* is the predictor, *m* is the slope (weight of *x*), and *b* is the y-intercept, which is the starting value of *y* when m*x=0. Below is a linear regression line graphed to predict student grades based on the number of hours studied for an exam.

<center><img src='https://s3.amazonaws.com/stackabuse/media/linear-regression-python-scikit-learn-1.png'></center>

Source: [Stack Abuse](https://s3.amazonaws.com/stackabuse/media/linear-regression-python-scikit-learn-1.png)

In [ ]:
#use this library to build a statistical test for linear regression
import statsmodels.formula.api as smf

In [ ]:
#OLS is Ordinary Least Squares, the most common type of linear regression
#the fit function uses the predictive values to calculate the best linear regression line
result = smf.ols('grade ~ age + exercise + hours', data=df).fit()

In [ ]:
#the summary will show the calculated values (slopes and y-intercept) for the linear regression formula
#the closer to 1 the r-squared value is, the better the fit of the linear regression line
#the p-value shows how statistically significant a predictive feature could be the model

result.summary()

#### With age, exercise, and hours being 0, your starting grade is likely to be around 57.87

In [ ]:
#remove age from regression, since it was not very correlated to other features
result = smf.ols('grade ~ exercise + hours', data=df).fit()
result.summary()

In [ ]:
#add age back into formula
#remove y-intercept (set it to be 0)
result = smf.ols(formula='grade ~ age + exercise + hours - 1', data=df).fit()
result.summary()